# Python
__pycache__/
*.pyc
*.pyo
venv/
pyvenv/
.venv/

# Node
node_modules/
dist/

# Env
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/
frontend/src/components/HelloWorld.vue


z.md